# maven ignore
target/
out/
*.jar

*.war
*.zip
*.tar
*.tar.gz
!idea-gitignore.jar  # 但 lib.a 除外
#log
*.log

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

#other
/bin
/.factorypath
/generatorConfig.xml
application-local.yml
